
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <meta name="monetization" content="$coil.xrptipbot.com/c1f8f05d-8d8c-4f37-b1ad-25677ae129da" />
  </head>
  <body>
    <main>
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
    <footer role="contentinfo" class="[ site-foot ] [ pad-bottom-900 ]">
      A project by <a href="//twitter.com/hankchizljaw">Andy Bell</a>.
    </footer>
  </body>
</html>

