
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <meta
      name="monetization"
      content="$pay.stronghold.co/1a171baca7344614a63a0b798870af43b82"
    />
  </head>
  <body>
    <main>
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
    <footer role="contentinfo" class="[ site-foot ] [ pad-bottom-900 ]">
      A project by <a href="//twitter.com/hankchizljaw">Andy Bell</a>.
    </footer>
  </body>
</html>

